[submodule "pbbsbench"]
	path = pbbsbench
	url = https://github.com/cmuparlay/pbbsbench.git
[submodule "gbbs"]
	path = gbbs
	url = https://github.com/ParAlg/gbbs.git
[submodule "parlaylib"]
	path = parlaylib
	url = https://github.com/cmuparlay/parlaylib.git
